.margin-ten {
  margin: 10px 0px;
}

#raid_table tr td {
  height: 10px;
}

#raid_table_wrapper {
  padding: 0px;
}

.btn-cursor {
  cursor: pointer;
}

.hide_me {
  display: none;
}

.btn {
  border-radius: 0;
  cursor: pointer;
}

.churas-button {
  padding: -0.25rem 1.5rem;
}

.am-progress {
  border-radius: 0;
}
