<table id="raid_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Username</th>
        <th>Raid Type</th>
        <th>Password</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Username</th>
        <th>Raid Type</th>
        <th>Password</th>
      </tr>
    </tfoot>
    <tbody>
    </tbody>
</table>